*{
    text-decoration: none;
}

body{
     margin: 0px;
    font-family: "Comic Sans MS", "Comic Sans";
}

body.jasno{
    background-color: aqua;
}

body.ciemno{
    background-color: purple;
}

header{
    background-color: yellow;
    text-align: center;
    padding: 20px;

}

header img{
    width: 500px;
    height: auto;
}

.navbar{
    background-color: darkslategray;
    position: sticky;
    top: 0;
}

.nawigacja{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.n_lewa a:hover{
    padding: 15px;
    border-radius: 10px;
    background-color: navy;
    color: navajowhite;
}

.n_lewa a.aktywne{
    padding: 15px;
    border-radius: 10px;
    background-color: blueviolet;
    color: chartreuse;
}

.n_lewa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.n_lewa li{
    display: inline-block;
}

.n_lewa li a{
    color: white;
    font-size: 25px;
    margin: 10px;
    padding: 15px;
}

.n_prawa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.n_prawa li{
    display: inline-block;
    margin-left: 20px;
}


.profil img:hover{
    padding: 5px;
    border-radius: 25px;
    background-color: yellow;
}

.profil img{
    margin-right: 10px;
    padding: 5px;
    height: 45px;
    width: auto;
}

.main{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #39FF14;
    text-align: center;
    border: 10px solid black;
}

.gra{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

.obrazek_gra img{
    border: 10px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;

}

.gra button{
    background-color: red;
    margin-top: 15px;
    padding: 20px;
    border: 10px solid black;
    border-radius: 10px;
    width: 150px;
}

.gra button:hover{
    background-color: lightgreen;
}

.gra button a{
    color: white;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: bold;
    font-size: 25px;
}

.tworcy_kontener{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: auto;
}

.tworca{
    padding-left: 5%;
    padding-right: 5%;
}

.obraz_tw img{
    width: 100%;
    height: auto;
}

.formularz{
    font-size:35px;
    margin-bottom: 50px;
}

.wybor_1-5{
    font-size: 25px;
    margin-bottom: 50px;
}

.formularz select{
    margin-bottom: 50px;
}

.formularz textarea{
    width: 30%;
    height: 20%;
}