*{
    text-decoration: none;
}

#cialo{
     margin: 0px;
     font-family: "Comic Sans MS", "Comic Sans";
}

    #cialo.ciemno {
        background-color: #3d3d3d;
    }

    #cialo.jasno {
        background-color: #9F9F92;
    }

#glowa{
    align-items: center;
    color: navajowhite;
    display: flex;
    flex-direction: column;
}

    #glowa.ciemno {
        background: #2D2D2D;
    }

    #glowa.jasno {
        background: #4E3D42;
    }

#czas-log{
    align-items: center;
    flex-direction: column;
}

header img {
    border: 10px solid black;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.navbar {
    z-index: 999999;
    background-color: #423D42;
    position: sticky;
    top: 0;
    border-top: 5px solid black;
}

    .navbar.jasno {
        background-color: #4E3D42;
    }

    .navbar.ciemno {
        background-color: #2D2D2D;
    }


    .nawigacja{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.n_lewa a:hover{
    padding: 15px;
    border-radius: 10px;
    background-color: #9F9F92;
    color: navajowhite;
}

.n_lewa a.aktywne{
    padding: 15px;
    border-radius: 10px;
    background-color: #725A61;
    color: navajowhite;
}

.n_lewa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.n_lewa li{
    display: inline-block;
    padding: 15px 0px 15px 0px;
}

.n_lewa li a{
    color: white;
    font-size: 25px;
    margin: 10px;
    padding: 15px;
}

.n_prawa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.n_prawa li{
    display: inline-block;
    margin-left: 20px;
}

#tryb{
    cursor: pointer;
    width: 50px;
    height: auto;
}

.main {
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
    background-color: #725A61;
    text-align: center;
    border: 10px solid black;
}

.gra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
}

.obrazek_gra1, .obrazek_gra2, .obrazek_gra3 {
    border: 10px solid black;
    border-radius: 10px;    
    position: relative;
    width: 90%;
    margin-bottom: 5%;
}

.obrazek_gra1 img, .obrazek_gra2 img, .obrazek_gra3 img {
    display: block;
    width: 100%;
    height: auto;
}

.podglad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1;
}


.obrazek_gra1:hover .podglad,.obrazek_gra2:hover .podglad,.obrazek_gra3:hover .podglad{
    opacity: 1;
}

.gra button{
    background-color: red;
    border: 10px solid black;
    border-radius: 10px;
    padding: 5%;
    width: 40%;
}

.gra button:hover{
    transition: 1s;
    background-color: lightgreen;
}

.gra button a{
    color: white;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: bold;
    font-size: calc(16px + 0.5vw);
}

.tworcy_kontener{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: auto;
}

.tworca{
    padding-left: 5%;
    padding-right: 5%;
}

.obraz_tw img{
    width: 100%;
    height: auto;
}

.formularz{
    font-size:35px;
    margin-bottom: 50px;
}

.wybor_1-5{
    font-size: 25px;
    margin-bottom: 50px;
}

.formularz select{
    margin-bottom: 50px;
}

.formularz textarea{
    width: 30%;
    height: 20%;
}

.hidden {
    display: none;
  }
  
.shown {
    display: flex;
}
  
#login-container,#nieznaleziono {
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
  
.login,.popup-nieznaleziono {
    border-radius: 10px;
    border: 10px solid black;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #9F9F92;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  
.login .text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
  
.login form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
form .data label {
    font-size: 18px;
}
  
.login form .data {
    height: 35px;
    width: 100%;
    margin: 20px 0;
}
  
form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}
  
form .data input:focus {
    border-color: #9F9F92;
    border-bottom-width: 2px;
}

form .data-2{
    margin-top: 5%;
}

form .forgotten-password {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: start;
}
  
form .forgotten-password a {
    margin-top: 20px;
    color: blueviolet;
    text-decoration: none;
}
  
form .forgotten-password a:hover {
    text-decoration: underline;
}
  
form .submit-button {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
form .submit-button button {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    background: aliceblue;
    color: purple;
    font-size: 18px;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s;
}
  
.submit-button button:hover {
    background-color: teal;
    color: aliceblue;
}
  
.button-login{
    margin-right: 30px;
    background: brown;
    border-style: solid ;
    border-width: 2px;
    border-color: red;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
   font-size: large;
   color: white;
}

.button-login:hover{
    background-color: red;
    border-color: tomato;
}

.popup-nieznaleziono{
    border-radius: 10px;
    border: 10px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #9F9F92;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.popup-opinia{
    border-radius: 10px;
    border: 10px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #9F9F92;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.poup-prawo{
    width: 400px;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
}

.poup-lewo, .poup-prawo{
    width: 50%;
    height: 50%;
}

.guzikkot{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
}

.guzikkot button{
    cursor: pointer;
    background-color: brown;
    font-style: bold;
    font-size: medium;
    font-weight: 500;
    color: whitesmoke;
    width: 20%;
    border-radius: 10px;
    border-color: red;
}

.guzikkot button:hover{
    background-color: red;
    border-color: tomato;
}

.popup-nieznaleziono img{
    height: 70%;
    width: 70%;
}

#komunikat{
    text-decoration: underline;
    font-weight: bold;
    color: brown;
}

#zbior_opini{
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

#zbior_opini li{
    background-color: #9F9F92;
    border: 10px solid black;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-bottom: 3%;
}