$bgLogin: papayawhip;
$btColor: aliceblue;

html{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
}

.hidden {
    display: none;
}

.shown{
    display: flex;
}

#login-container{
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.login{
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $bgLogin;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.login .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.login form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form .data label{
    font-size: 18px;
} 

.login form .data{
   height: 35px;
   width: 100%;
   margin: 20px 0;
}

form .data input{
    height:  100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}

form .data input:focus{
    border-color: $bgLogin;
    border-bottom-width:2px ;
}

form .forgotten-password{
    margin-top: 20px;
    display: flex;
    justify-content:  center;
    align-self: start;
}

form .forgotten-password a{
    margin-top: 20px;
    color: blueviolet;
    text-decoration: none;
}
form .forgotten-password a:hover{
    text-decoration: underline;
}

form .submit-button{
  margin: 30 px 0;
  height:  45px;
  width: 100%;
}

form .submit-button button{
    margin-top: 15px;
    height: 100%;
    width: 100%;
    background: $btColor;
    color: purple;
    font-size: 18px;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s;
}

.submit-button button:hover{
    background-color: teal;
    color: aliceblue;
}

.close-login{
    all: unset;
    font-size: 25px;
    text-decoration: none;
    color: purple;
    margin-left: 95%;
}

.close-login:hover{
    all: unset;
    font-size: 25px;
    text-decoration: none;
    color: red;
    margin-left: 95%;
}