/*
.navbar {
    position: sticky;
    width: 100vw;
    top: 0;
    border-bottom: 1px solid black;
}

.logo {
    scale: 100%;
}

.header {
    background-color: $bgColor;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: cal(100vw-10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    text-decoration: none;
    display: inline;
}

/* Stylowanie scrollbara tylko dla przeglądarek WebKit (Safari, Chrome) 
::-webkit-scrollbar {
    width: 12px; // lub dowolna szerokość
  }
  
  ::-webkit-scrollbar-track {
    background: #111; // kolor tła paska przewijania
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444; // kolor uchwytu przewijania
    border-radius: 10px;
    border: 2px solid #111; // opcjonalna ramka
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; // kolor po najechaniu
  }
  
  */